
body{
	margin: 0;
	padding: 0;
	background: url(../img/paris1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}

table{
	margin: 150px auto;
	width: 100px auto;
	background: #F3F3F3;
	text-align: center;
}

th{
	border: solid 1px black;
	padding: 15px;
	background-color: #9aa0c7;
}

td{
	border: solid 1px black;
	padding: 15px;
}

